.pets {
  display: flex;
  justify-content: center;
  position: relative;
  background: url("../assets/image/palm.png") left bottom no-repeat,
  url("../assets/image/strelitzia.png") right bottom no-repeat;

  &_btn {
    display: flex;
    place-content: center;
    width: 62px;
    height: 62px;
    padding: 27px 23px;
    position: absolute;
    outline: none;
    border: none;
    border-radius: 100%;
    background: linear-gradient(
                    113.96deg,
                    #f9804b 1.49%,
                    #fe9013 101.44%
    );
    text-align: center;
    color: #fff;
    cursor: pointer;
  }
}

.next {
  transform: rotate(180deg);
}

#prev {
  left: 8.7%;
  top: 36.3%;
  z-index: 200;
}

#next {
  right: 8.7%;
  top: 36.3%;
  z-index: 200;
}

.pets_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 1600px;
  height: 100%;
  padding-inline: min(
          max((100vw - 1160px) / 2, 30px),
          220px
  );

  &-wrapper {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 30px;
    max-width: 100%;
  }
}

.pets__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  min-width: 100%;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.pets__card {
  display: flex;
  flex-direction: column;
  width: 366px;
  height: 426px;
  border: 1px solid transparent;
  border-radius: 5px;
  overflow: hidden;
  background: linear-gradient(
                  to right,
                  #fff 0%,
                  #ffffff 100%
  ) padding-box,
  linear-gradient(
                  113.96deg,
                  #fa6f32 1.49%,
                  #fe9013 101.44%
  ) border-box;
  cursor: pointer;

  &-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -o-object-fit: cover;
    object-fit: cover;
    min-height: 85.45%;
  }

  &-text {
    display: flex;
    flex-direction: column;
    height: 80px;
    margin-top: 9px;
    position: relative;

    &-name {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;
      text-transform: uppercase;
      margin-left: 16px;
    }

    &-map {
      margin-left: 16px;
      margin-top: -2px;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      font-weight: 300;
      line-height: 120%;
    }

    &-img {
      min-width: 33px;
      position: absolute;
      bottom: 12px;
      right: 9px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}

#choose-favorite {
  width: 298px;
  height: 54px;
  margin-top: 80px;
  margin-bottom: 100px;
  margin-left: 0;
}

@media (max-width: 1586px) {
  .pets {
    background: url("../assets/image/palm_foto_small.png") left bottom no-repeat,
    url("../assets/image/strelitzia.png") right bottom no-repeat;
    background-size: auto auto, 241px 180px;
  }
}

@media (max-width: 1560px) {
  #prev {
    left: 353px;
    top: 356px;
  }

  #next {
    right: 353px;
    top: 356px;
  }

  .pets_container-wrapper {
    margin-top: -12px;
  }

  .pets__cards {
    row-gap: 92px;
    -moz-column-gap: 29px;
    column-gap: 29px;
  }

  .pets__card {
    width: 294px;
    height: 354px;
  }

  #choose-favorite {
    margin-bottom: 140px;
  }
}

@media (max-width: 1000px) {
  .pets__card-img {
    min-height: 83.45%;
  }
}

@media (max-width: 999px) {
  .pets {
    background: url("../assets/image/palm_tablet.png") left bottom no-repeat,
    url("../assets/image/strelitzia.png") right bottom no-repeat;
    background-size: auto auto, 175px 131px;
  }

  #prev {
    top: 35.55%;
    left: 19%;
  }

  #next {
    right: 190px;
    top: 343px;
  }

  .pets_container-wrapper {
    margin-top: 0;
  }

  .pets__cards {
    margin-top: 0;
    -moz-column-gap: 29.76px;
    column-gap: 29.76px;
  }

  .pets__card {
    height: 332px;

    &:nth-child(5),
    &:nth-child(6) {
      display: none;
    }
  }

  .pets__card-text-name {
    margin-left: 12px;
    font-size: 12.4695px;
  }

  .pets__card-text-map {
    margin-left: 12px;
    font-size: 11.6901px;
  }

  .pets__card-text-img {
    width: 25.72px;
    height: 28.84px;
  }

  #choose-favorite {
    width: 298px;
    height: 54px;
    margin-top: 61px;
    margin-bottom: 99px;
  }
}

@media (max-width: 800px) {
  .pets_container {
    padding-inline: 0;
  }
}

@media (max-width: 640px) {
  .pets__card {
    width: 286px;
    height: 332px;

    &-img{
      min-height: 86.45%;
    }
  }

  #prev {
    top: 35.38%;
    left: 38%;
  }

  #next {
    right: 243px;
    top: 343px;
  }
}

@media (max-width: 601px) {
  .pets {
    background: url("../assets/image/palm_foto_mobile.png") left bottom no-repeat,
    url("../assets/image/strelitzia_mobile.png") right bottom no-repeat;
  }

  .pets__cards {
    margin-top: 0;
    row-gap: 20px;
  }

  #prev,
  #next {
    display: none;
  }

  .pets__card-text {
    margin-top: 7px;
  }

  #choose-favorite {
    margin-top: 19px;
    margin-bottom: 60px;
    transform: translateY(0);
  }
}
